<div class="container">


    <div class="" *ngIf="!isLoaded; else loadedBlock">
        Loading
    </div>
    <ng-template #loadedBlock>
        <p>Based on your search, you might enjoy these</p>
        <div class="filter-buttons mb-3" *ngFor="let item of suggestion?.sugg">
            <button type="button" class="suggestion__buttons" value={{item.movieTitle}}>
                {{item.movieTitle}}
            </button>
        </div>
        <div class="row" *ngFor="let item of suggestion?.movies">
            <div class=`mb-3`>
                <div class="movie parent card__custom row">
                    <app-movie [movieData]="item"></app-movie>

                </div>
            </div>
        </div>
    </ng-template>


</div>