<div class="container">
    <div class="" *ngIf="!isLoaded">
        Waking up the server, checking for movies and music
    </div>
    <div class="" *ngIf="!showResults; else loadedBlock">
        <!-- Empty condition to prevent unwanted loading of component -->
        <!-- Swap the order later for cleaner code -->
    </div>
    <ng-template #loadedBlock>

        <div class="filter-buttons mb-3">
            <button type="button" class="btn suggestion__buttons" value={{item.movieTitle}}
                (click)="setSearchString(item.movieTitle)" *ngFor="let item of suggestion?.sugg">
                {{item.movieTitle}}
            </button>
            <p>Click on these suggestions to search again</p>
        </div>
        <span class="hr"></span>
        <p>Based on your search, you might enjoy these</p>
        <div class="filter-buttons mb-3">
            <button type="button" class="btn suggestion__buttons" (click)="setFilter(1)">
                All
            </button>
            <button type="button" class="btn suggestion__buttons" (click)="setFilter(2)">
                Tracks
            </button>
            <button type="button" class="btn suggestion__buttons" (click)="setFilter(3)">
                Movies
            </button>
        </div>
        <ng-container *ngIf="filterResult == 1 || filterResult == 2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 card__master" *ngFor="let item of suggestion?.tracks">
                        <app-track [trackData]="item"></app-track>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="filterResult == 1 || filterResult == 3">
            <div class="container">
                <div class="row" *ngFor="let item of suggestion?.movies">
                    <div class="col m-2 card__master">
                        <app-movie [movieData]="item"></app-movie>
                    </div>
                </div>
            </div>
        </ng-container>


    </ng-template>


</div>