/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --pseudo: #00e095;
  --background: #1d1d1d;
  --box-shadow: #111111;
  --text-color: #e0e0e0;
  --logo: #00ff95;
  --h2: #00d1d1;
  --card-background: rgba(66, 66, 66, 90);
}

body {
  /* background-color: var(--background) !important; */
  color: var(--text-color) !important;
  font-family: "PT Sans", sans-serif !important;
  background-image: radial-gradient(
    circle,
    #363636,
    #2c2c2c,
    #232323,
    #1a1a1a,
    #101010
  );
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-size: 1.2em;
  color: var(--h2);
}

h1 {
  color: var(--logo);
  font-size: 5em !important;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(109, 226, 94);
  margin: 1em 0;
  padding: 0;
}

input {
  margin-bottom: 20px;
  border-radius: 15px;
  padding-right: 30px;
  text-align: center;
}

input[type="text"] {
  background-color: rgb(75, 75, 75) !important;
  color: var(--text-color) !important;
  min-width: 270px;
  padding-bottom: 8px;
  border: none;
}

.center-data-loaded {
  position: relative;
}

.track img {
  padding: 0;
}

img {
  border-radius: 2px;
  max-width: 100%;
}

.form-control {
  border: none;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.form-control:active {
  border-color: none;
  box-shadow: none;
}

.genre {
  text-align: center;
  font-style: italic;
}

.actors::before {
  content: "Actors\a";
  white-space: pre;
  color: var(--pseudo);
}

.release::before {
  content: "Release Date\a";
  white-space: pre;
  color: var(--pseudo);
}

.runtime::before {
  content: "Runtime\a";
  white-space: pre;
  color: var(--pseudo);
}

.meta-score::before {
  content: "Metascore ";
  color: var(--pseudo);
}

.imdb-rating::before {
  content: "IMDB ";
  color: var(--pseudo);
}
.plot::before {
  content: "Plot\a";
  color: var(--pseudo);
  white-space: pre;
}

.movie-rec .col-sm-4 {
  transition: all 0.2s ease-in-out;
}

.card__master,
.card__custom {
  min-height: 540px;
}

.card__custom {
  border-radius: 5px;
  padding: 10px;
  /* background-color: var(--card-background); */
  background: rgb(68, 68, 68);
  background: linear-gradient(
    180deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(37, 37, 37, 1) 89%
  );
  transition: all 0.2s linear;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 0px 15px 25px var(--box-shadow);
}

/* .card__custom:hover {
  background-color: #ececec;
} */

a.track {
  text-decoration: none;
  color: #83d34e;
}
a.track:hover {
  color: #55f041;
  cursor: pointer;
}

.track h2 {
  font-size: 1.2em;
}

.movie__preview {
  padding-left: 1px;
  padding-right: 1px;
}

.album__name {
  text-align: center !important;
  margin-top: 10px;
}

.movie-rec,
.track-rec {
  padding: 0;
}

.intro-color {
  color: #c4a27e;
}

div.bmc-btn-container {
  text-align: center;
}

a.bmc-btn {
  height: 35px;
  background-color: #ffa631 !important;
  padding-right: 30px;
}

a.bmc-btn:hover {
  color: black;
  background-color: #fa8745 !important;
}

footer {
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: sticky;
  top: 100vh;
}

footer a {
  color: burlywood;
  text-decoration: none;
}

footer a:hover {
  color: antiquewhite;
}

input::-webkit-input-placeholder {
  color: var(--text-color) !important;
}

input::-moz-placeholder {
  color: var(--text-color) !important;
}

input::-ms-placeholder {
  color: var(--text-color) !important;
}

input::placeholder {
  color: var(--text-color) !important;
}

.search {
  background-image: url("/src/images/outline_search_white_24dp.png");
  width: 24px;
  display: inline-block;
  height: 24px;
  position: absolute;
  margin-top: 7px;
  margin-left: -30px;
  filter: invert(18%) sepia(0%) saturate(1985%) hue-rotate(154deg)
    brightness(96%) contrast(91%);
}

.form-control {
  display: inline-block;
}

button {
  border: none;
  background: none;
  color: #53b463;
}

button:hover {
  cursor: pointer;
}

button:focus {
  color: #f09b41;
}

.button__active {
  color: #f09b41;
}

button img {
  filter: invert(79%) sepia(9%) saturate(7038%) hue-rotate(330deg)
    brightness(99%) contrast(89%);
  transition: all 0.2s linear;
}

button img:hover {
  transform: translateY(5px);
  cursor: pointer;
  /* transform: scale(1.1); */
}

.filter-buttons button {
  font-size: 1.1em;
  margin: 0 10px;
}

.filter-buttons button:hover {
  cursor: pointer;
  color: #fda839;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.suggestion__buttons {
  color: #60be3b !important;
}

.suggestion__buttons:hover {
  color: #56e932 !important;
}
